a {
  color: blueviolet;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: hotpink
}

h1 {
  font-size: 4em;
  margin-top: .5%;
}

html,
body, *, *::before, *::after  {
  margin: 0;
  overflow: hidden;
  padding: 0;
 -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html, body {  height: 93.5vh;
  width: 97.4vw;}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

body {
  border: aquamarine solid 30px;
}



.AboutMeContainer {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 60%;
  margin-top: 90px;
  text-align: left;
  position: absolute;
  overflow: hidden;
}

.AboutMeText {
  font-size: 1.5rem;
  line-height: 1.9rem;
  margin-top: 20px;
}

.BLMLink {
 font-size: 1.5rem;
 font-weight: 900;
 text-align: right;
}

.Border {
  border: black .15rem solid;
}

.Circle {
  z-index: -20;
  background-color: aquamarine;
  border-radius: 50%;
  bottom: 10%;
  height: 1100px;
  overflow: hidden;
  position: absolute;
  right: 60%;
  top: -49%;
  width: 1100px;
}

.ContentContainer {
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue";
  height: 87.5%;
  justify-content: space-between;
  padding: 2rem 5rem;
  position: absolute;
  width: -webkit-fill-available;
}

.EmailLink {
 text-decoration: underline;
}

.FooterContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 10px;
  color: white;
  z-index: -15;
  border-top: black .30rem solid;
  border-bottom: black .30rem solid;
}

.TopBorder {
  border-top: black .30rem solid;
  display: inline-flex;
  z-index: -30;
  width: 100%;
  position:absolute;
}

.LinksContainer {

  align-items: center;
  display: flex;
  width: 90%;
  z-index: 50;
  justify-content: space-between;
}

.LinksLeft {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.MarginTop {
  margin-top: 2rem;
}

.PhotoLink {
 font-size: 1.2rem;
 font-weight: 600;
}


@media only screen and (max-width: 600px) {
  .AboutMeContainer {
    height: 80%;
    margin-top: 30px;
  }

  .ContentContainer {
    padding: 2rem 2rem;
  }

  .LinksLeft {
    width: 50%;
  }
  
}